<!DOCTYPE html>

<html>
  <head>
    {% include 'page.header.html' %} {% if site.title %}
    <title>
      {% if title %}{{ title }} – {% endif %}{{ site.title }}{% if not title and
      site.subtitle %} – {{ site.subtitle }}{% endif %}
    </title>
    {% endif %}
  </head>

  <body>
    <header>
      <a href="/">
        <h1>PyLadies Maputo</h1>
      </a>
      <nav id="nav-bar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/events">Events</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block body %}{% endblock %}</main>
    <footer>
      <p>
        {% if site.author %}© {{ none|date('%Y') }} {{ site.author }} {% endif
        %}
      </p>
    </footer>
  </body>
</html>
